body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/background_1.jpeg");
    padding: 0px;
    margin: 0px;
}
.header-container{
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(39,39,39,1) 30%, rgba(20,20,20,0)80%);
    padding-top: 10px;
    padding-bottom: 10px;

}
.header h1{
    margin-left: 170px;
    color: white;
    font-size:30px;
}
h1 span{
    color: rgb(224, 141, 199);
}
.header{
    visibility: visible;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    background-image: url('../img/chori.png') ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}
.box-ppal{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.box-filter{
    padding-top: 55px;
    height: 400px;
    margin-left: 20px;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
}
.filters{
    position: relative;
    height: 20px;
    border: 0px;
    background-color: transparent;
    border-left: 3px solid transparent ;
    justify-content: center;
    align-items: center;
}
#canvas{
    border-radius: 5px;
}
.container{
    display: flex;
    position: relative;
}
label{
    margin-left: -10px;
    color: white;
    align-items: center;
    vertical-align: middle;
}
.box-input{
    display: flex;
}
.tool-box{
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
}
.img-box{
    display: flex;
    position: relative;
    right: -228px;
    /* right: -275px; */
    /* right: -350px; */
    top: 40px;
    z-index: 100;
}
#upload{
    height: 30px;
}
.tool-box input{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 10px;
}
.box-aux input{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-bottom: 10px;

}
.box-aux{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
}
.rangeTool{
    width: 300px;
}
.tools-icon{
    height: 25px;
    margin-left: -30px;
    margin-top: 2px;
}
#invert, #sepia, #b\&w{
    margin-bottom: 16px;
}
#lapiz{
    background-image: url("../img/pen2.png");
    background-size: 70% 70%;
    opacity: 80%;

}
#goma{
    background-image: url("../img/eraser.png");
    background-size: 75% 75%;
    opacity: 80%; 
}
#clear{
    background-image: url("../img/trash.png");
    background-size: 70% 70%;
     opacity: 80%; 
}
#save{
    background-image: url("../img/save.png");
    background-size: 60% 70%;
    opacity: 80%; 
}

#color {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    opacity: 80%;
}
#cleanImg{
    background-image: url("../img/clear.png");
    background-size: 70% 70%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 10px;
}
#uploadButton{
    background-image: url("../img/upload.png");
    background-size: 70% 70%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 10px;
}
#upload{
    color: transparent;
    display: block;
    visibility: hidden;
    height: 1px;
    width: 1px;
}
.inputTool{
    background-repeat: no-repeat;
    background-position: center;
}
#color::-webkit-color-swatch, #color::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 100%;
    padding: 0;
}
/* #color::-webkit-color-swatch-wrapper {
    border: none;
    border-radius:100%;
    padding: 0;
} */
.inputTool:active{
    opacity: 100%;
    background-color: rgb(160, 160, 160);
}
.inputTool:hover{
    transform: scale(1.1) ;
    opacity: 100%;
    transition: transform .1s ease-in-out;

}
/* .inputTool:hover{
   transition: .2s ease-in-out;
} */
.active-btn{
    opacity: 100%!important;
    background-color: rgb(32, 32, 32)!important;
    filter: invert(1);
    border: 2px;
}
#rangePen{
    margin-right: -3px;
    opacity: 0;
    width: 0px!important;
    transition: width 0.5s ease, opacity 0.2s ease;
}
#rangePen.expand {
    margin-right: 12px;
    opacity: 1;
    width: 100px!important;
}
#rangeGoma{
    opacity: 0;
    width: 0px!important;
    transition: width 0.5s ease, opacity .2s ease;
}
#rangeGoma.expand {
    opacity: 1;
    width: 100px!important;
}
.rangeFilter{
    opacity: 0;
    /* height: 0px!important; */
    margin-top: -16px;
    transition: opacity .1s ease, margin-top .3s;
    /* transition: height 0.3s ease, opacity .1s ease, margin-top .3s; */
}
.rangeFilter.selected{
    margin-top: 10px;
    margin-bottom: 15px;
    opacity: 1;
    height: 16px!important;
    /* margin-bottom: 16px; */
}
label.selected {
    /* border-left: 3px solid rgb(251,183,59) !important; */
    color: rgb(251,183,59) !important;
}